body {
  margin: 0;
  font-family: 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9edf0;
  scroll-behavior: smooth;

}

body,
html,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
